html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 已禁止滚动 */
}

body {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 已禁止滚动 */
}
